node_red_base/lab_01_gripper_flows.json
[
    {
        "id": "eaf2bfc7454623a0",
        "type": "tab",
        "label": "UI Gripper",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f479262664cd75e2",
        "type": "tab",
        "label": "PackML",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "66b713bff26c6577",
        "type": "tab",
        "label": "Get Position",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2c31763846faff4a",
        "type": "tab",
        "label": "Documentation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "607da399f65f1741",
        "type": "tab",
        "label": "Test Methods",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ccb574154e3475d",
        "type": "group",
        "z": "66b713bff26c6577",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "69a1382792d493e5",
            "4a99555c5c99a906",
            "a1188273fa858afb",
            "5873013b9baa66fd",
            "8568cbc5e8e3a3e7",
            "b0f2ba42e531280b",
            "e03c864b75823938",
            "84fccf9607b693bd",
            "e4035f4d4de3c39a",
            "b09d4b9362aac004",
            "6e51b78d9c6f5a96",
            "e6079fe93ae39937",
            "e85f7c32b3e4d863"
        ],
        "x": 84,
        "y": 159,
        "w": 832,
        "h": 422
    },
    {
        "id": "7b313a45e45d8c67",
        "type": "group",
        "z": "f479262664cd75e2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "20ee0148a275dedb",
            "9bd81e8275e8f9fc",
            "59670bcba7664fbf",
            "d42e8acbe3501983",
            "a12abec19b950583",
            "c49cf2bce7d87104",
            "4c3d0833f9aa8ad5"
        ],
        "x": 44,
        "y": 599,
        "w": 982,
        "h": 222
    },
    {
        "id": "da63248a1cc4b4af",
        "type": "group",
        "z": "66b713bff26c6577",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5af87b665ab849ef",
            "c88f46c050aa51a3",
            "c128f90be143a216",
            "ac49f0b9e2200d23",
            "fab458635840f194",
            "b4acbb4fa910b71d",
            "399266970ed3c8d1",
            "b21a4f9c5ea48486",
            "3721ba1125f3e447"
        ],
        "x": 94,
        "y": 619,
        "w": 858,
        "h": 522
    },
    {
        "id": "9a1553f8c3041295",
        "type": "group",
        "z": "f479262664cd75e2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "fcbaa2bbfa97fe76",
            "70e837f7c57ab252",
            "fb3ab66a497550f6"
        ],
        "x": 44,
        "y": 859,
        "w": 762,
        "h": 142
    },
    {
        "id": "e2599ca1e3a980d5",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "a07cf9f0e1168794",
            "c3a037d3152096ee",
            "cccf55e69af578a9",
            "f8c55538723375cc",
            "5cab1bf9d0fa4bb4",
            "447a007832f0a7d4",
            "2c1a33d028337271",
            "ba8d958d61230f0d",
            "4030502ed776dd45",
            "32e8ca61e077c807",
            "5f822c7f2c3b4e5c",
            "642284b62bb41bc0",
            "c96af0244726ad2d"
        ],
        "x": 34,
        "y": 19,
        "w": 992,
        "h": 302
    },
    {
        "id": "109dfdf213606c81",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e4a4e186145c35ce",
            "94fe66ce01a44d97",
            "ded8a5dc4b3027b0",
            "b848aa9c4c8bb73e",
            "c2c3ec1d528d773f",
            "62d55bf8b5fed827",
            "c391a9a9118d3b12"
        ],
        "x": 34,
        "y": 419,
        "w": 652,
        "h": 242
    },
    {
        "id": "6f8cb341a624a725",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9d1d5761860630e5",
            "f26f764821d406cf",
            "3bab3e001ce81ea2",
            "742fce5412488928",
            "f43cac39516a6f0d"
        ],
        "x": 34,
        "y": 699,
        "w": 672,
        "h": 242
    },
    {
        "id": "a1a7c03b79f28556",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "86397fca2539ddd5",
            "89c13c669c2e0f56",
            "ca8618bd2c4400f8",
            "bf2598d595675045",
            "b291efe98968ed45",
            "757d3cf7c6971394",
            "189136639e7733c9"
        ],
        "x": 34,
        "y": 959,
        "w": 672,
        "h": 242
    },
    {
        "id": "dfc987d7503267f1",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "21c6cd54aa48fbcb",
            "2a214a13db11e30d",
            "e843055fb842d5dc",
            "4028284ccdbaa43d",
            "895a407ff2269024"
        ],
        "x": 34,
        "y": 1219,
        "w": 672,
        "h": 242
    },
    {
        "id": "72d122f5da95a597",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "258fbef0487ceedf",
            "98f3a3b9088a69bb",
            "e7658de07daf4432",
            "fb9abf3a139624a6",
            "beb8e4283b90b2ac"
        ],
        "x": 34,
        "y": 1479,
        "w": 692,
        "h": 242
    },
    {
        "id": "9e811d9e8dd65fc9",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5bc525819aee7e75",
            "b42d4d7c0c2acf91",
            "4ea47bd12599fc75",
            "3cb88c6bf10c620a",
            "0b2bb5b5b66e5531"
        ],
        "x": 34,
        "y": 1739,
        "w": 652,
        "h": 142
    },
    {
        "id": "5d9acb71a5da2d5e",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6787e85dc7111b47",
            "ba78d514d44f27e3",
            "8d04e6708c445f93",
            "b6b9d21b987e7c0f",
            "3ad3ad4dac0ea69d"
        ],
        "x": 34,
        "y": 1899,
        "w": 632,
        "h": 142
    },
    {
        "id": "2b6c1efebabd7fb4",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "45a2a5dbb11f4229",
            "88bbdf48378b5565",
            "10ef4c5395f0d5dd",
            "bb9848d018aef6e8",
            "1d7c236ca776186e"
        ],
        "x": 34,
        "y": 2059,
        "w": 632,
        "h": 142
    },
    {
        "id": "47c92b8b1164e51c",
        "type": "group",
        "z": "eaf2bfc7454623a0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "23412884da54a7e6",
            "15ce63bec90ff922",
            "a5028d1163b29f6f",
            "807d7e3ae8e94767",
            "9ab0aed07f6e0eeb",
            "7965e242fc016a6c"
        ],
        "x": 34,
        "y": 2239,
        "w": 952,
        "h": 142
    },
    {
        "id": "fab458635840f194",
        "type": "group",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1e189ecd802172e5",
            "602f4c0ed027a896",
            "6243fa7ea09362a4"
        ],
        "x": 354,
        "y": 719,
        "w": 572,
        "h": 82
    },
    {
        "id": "b4acbb4fa910b71d",
        "type": "group",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "52bfe6c137bd1644",
            "3c3321ef3d105be0",
            "575b8dd8c92560ac"
        ],
        "x": 354,
        "y": 839,
        "w": 572,
        "h": 82
    },
    {
        "id": "399266970ed3c8d1",
        "type": "group",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "f8c71b02e2e6a3cf",
            "35519cde47a513a6",
            "059ec5ae6fe47060"
        ],
        "x": 354,
        "y": 979,
        "w": 572,
        "h": 82
    },
    {
        "id": "2fc0336def1d763c",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "robot",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default",
        "titleBarStyle": "fixed",
        "info": "# HES-SO Valais//Wallis"
    },
    {
        "id": "8966a7b403a8fb88",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#8080ff",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "66c6923e3822666a",
        "type": "ui-page",
        "name": "CtrlX Data Layer Test",
        "ui": "2fc0336def1d763c",
        "path": "/robot",
        "icon": "robot-happy-outline",
        "layout": "grid",
        "theme": "8966a7b403a8fb88",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "e45e312c80fc001e",
        "type": "ctrlx-config",
        "name": "Nodered",
        "hostname": "192.168.1.1",
        "debug": false
    },
    {
        "id": "c5b0190b901ecb86",
        "type": "ctrlx-config-subscription",
        "device": "e45e312c80fc001e",
        "name": "Subscribe",
        "publishIntervalMs": "",
        "publishIntervalUnits": "seconds",
        "samplingInterval": "",
        "samplingIntervalUnits": "seconds",
        "errorInterval": "",
        "errorIntervalUnits": "seconds",
        "keepaliveInterval": "",
        "keepaliveIntervalUnits": "minutes",
        "queueSize": "",
        "queueBehaviour": "DiscardOldest",
        "deadbandValue": ""
    },
    {
        "id": "bb97738361048557",
        "type": "ui-group",
        "name": "Robot Position",
        "page": "66c6923e3822666a",
        "width": "6",
        "height": "1",
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5e3f352f60d7af69",
        "type": "ui-page",
        "name": "Documentations",
        "ui": "2fc0336def1d763c",
        "path": "/page3",
        "icon": "home",
        "layout": "notebook",
        "theme": "8966a7b403a8fb88",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "6b2222aa7324c02b",
        "type": "ui-group",
        "name": "Base",
        "page": "5e3f352f60d7af69",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f52f774838673224",
        "type": "ui-group",
        "name": "Commands and Read",
        "page": "66c6923e3822666a",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6f4d4cc842955c98",
        "type": "ui-group",
        "name": "CPU",
        "page": "66c6923e3822666a",
        "width": "6",
        "height": "1",
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "3c78dec33d077414",
        "type": "ui-page",
        "name": "Some tests",
        "ui": "2fc0336def1d763c",
        "path": "/MyUI",
        "icon": "account-school",
        "layout": "grid",
        "theme": "8966a7b403a8fb88",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "166995c74f30a0c3",
        "type": "ui-group",
        "name": "Your First Group",
        "page": "3c78dec33d077414",
        "width": "6",
        "height": "6",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "5765b0da98500f6a",
        "type": "ui-group",
        "name": "UI_Gripper",
        "page": "66c6923e3822666a",
        "width": "6",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a07cf9f0e1168794",
        "type": "ui-button",
        "z": "eaf2bfc7454623a0",
        "g": "e2599ca1e3a980d5",
        "group": "f52f774838673224",
        "name": "",
        "label": "Stop",
        "order": 8,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "stop",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "cccf55e69af578a9"
            ]
        ]
    },
    {
        "id": "c3a037d3152096ee",
        "type": "ctrlx-datalayer-request",
        "z": "eaf2bfc7454623a0",
        "g": "e2599ca1e3a980d5",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiCmdStop",
        "payloadFormat": "value_type",
        "name": "Stop",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "2c1a33d028337271"
            ]
        ]
    },
    {
        "id": "cccf55e69af578a9",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "e2599ca1e3a980d5",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 280,
        "wires": [
            [
                "c3a037d3152096ee"
            ]
        ]
    },
    {
        "id": "f8c55538723375cc",
        "type": "ctrlx-datalayer-request",
        "z": "eaf2bfc7454623a0",
        "g": "e2599ca1e3a980d5",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Lab_01/stGripperNodeUI/xOpen",
        "payloadFormat": "value_type",
        "name": "Open Gripper",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 580,
        "y": 60,
        "wires": [
            [
                "2c1a33d028337271"
            ]
        ]
    },
    {
        "id": "5cab1bf9d0fa4bb4",
        "type": "ui-button",
        "z": "eaf2bfc7454623a0",
        "g": "e2599ca1e3a980d5",
        "group": "5765b0da98500f6a",
        "name": "Close Gripper",
        "label": "Close",
        "order": 4,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "4030502ed776dd45",
                "c96af0244726ad2d"
            ]
        ]
    },
    {
        "id": "447a007832f0a7d4",
        "type": "ctrlx-datalayer-request",
        "z": "eaf2bfc7454623a0",
        "g": "e2599ca1e3a980d5",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Lab_01/stGripperNodeUI/xClose",
        "payloadFormat": "value_type",
        "name": "Close Gripper",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 560,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "2c1a33d028337271",
        "type": "debug",
        "z": "eaf2bfc7454623a0",
        "g": "e2599ca1e3a980d5",
        "name": "Open Gripper",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 120,
        "wires": []
    },
    {
        "id": "ba8d958d61230f0d",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "e2599ca1e3a980d5",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 60,
        "wires": [
            [
                "f8c55538723375cc"
            ]
        ]
    },
    {
        "id": "4030502ed776dd45",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "e2599ca1e3a980d5",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 200,
        "wires": [
            [
                "447a007832f0a7d4"
            ]
        ]
    },
    {
        "id": "32e8ca61e077c807",
        "type": "ui-button",
        "z": "eaf2bfc7454623a0",
        "g": "e2599ca1e3a980d5",
        "group": "5765b0da98500f6a",
        "name": "Open Gripper",
        "label": "Open",
        "order": 3,
        "width": "2",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 60,
        "wires": [
            [
                "ba8d958d61230f0d",
                "642284b62bb41bc0"
            ]
        ]
    },
    {
        "id": "5f822c7f2c3b4e5c",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "e2599ca1e3a980d5",
        "name": "Manage Gripper Manually",
        "info": "",
        "x": 890,
        "y": 220,
        "wires": []
    },
    {
        "id": "e4a4e186145c35ce",
        "type": "ui-radio-group",
        "z": "eaf2bfc7454623a0",
        "g": "109dfdf213606c81",
        "group": "5765b0da98500f6a",
        "name": "InOp TRUE/FALSE",
        "label": "InOp",
        "order": 11,
        "width": "2",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "TRUE",
                "value": 1,
                "type": "num"
            },
            {
                "label": "FALSE",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 570,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "94fe66ce01a44d97",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "109dfdf213606c81",
        "name": "TRUE FALSE",
        "func": "let myBool = false;\n\nmyBool = msg.payload;\n\nif (myBool === false) {\n  msg.payload = 2;\n} else {\n  msg.payload = 1;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 540,
        "wires": [
            [
                "e4a4e186145c35ce"
            ]
        ]
    },
    {
        "id": "ded8a5dc4b3027b0",
        "type": "inject",
        "z": "eaf2bfc7454623a0",
        "g": "109dfdf213606c81",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "94fe66ce01a44d97",
                "c2c3ec1d528d773f"
            ]
        ]
    },
    {
        "id": "b848aa9c4c8bb73e",
        "type": "inject",
        "z": "eaf2bfc7454623a0",
        "g": "109dfdf213606c81",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "94fe66ce01a44d97"
            ]
        ]
    },
    {
        "id": "c2c3ec1d528d773f",
        "type": "debug",
        "z": "eaf2bfc7454623a0",
        "g": "109dfdf213606c81",
        "name": "InOp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 460,
        "wires": []
    },
    {
        "id": "62d55bf8b5fed827",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "109dfdf213606c81",
        "name": "InOp",
        "info": "",
        "x": 550,
        "y": 620,
        "wires": []
    },
    {
        "id": "a5faa35ff75e941f",
        "type": "ui-text",
        "z": "eaf2bfc7454623a0",
        "group": "5765b0da98500f6a",
        "order": 5,
        "width": "2",
        "height": "1",
        "name": "Gripper",
        "label": "Sensor",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "41dafcb5ae202d89",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "name": "Round 0.01",
        "func": "let position = Math.round(msg.payload * 100) / 100;\n\nglobal.set('Gripper_State', position);\n\nlet postion_mm = 'Gripper : ';\n\npostion_mm = postion_mm.concat(position,' [mm]');\n\nmsg.payload = postion_mm;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 360,
        "wires": [
            [
                "a5faa35ff75e941f"
            ]
        ]
    },
    {
        "id": "05e34c107c516944",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Lab_01/stGripperNodeUI/rIsPostion",
        "name": "",
        "inputs": 0,
        "x": 220,
        "y": 360,
        "wires": [
            [
                "41dafcb5ae202d89"
            ]
        ]
    },
    {
        "id": "c391a9a9118d3b12",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "g": "109dfdf213606c81",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Lab_01/stGripperNodeUI/xInOp",
        "name": "",
        "inputs": 0,
        "x": 230,
        "y": 460,
        "wires": [
            [
                "94fe66ce01a44d97",
                "c2c3ec1d528d773f"
            ]
        ]
    },
    {
        "id": "9d1d5761860630e5",
        "type": "ui-radio-group",
        "z": "eaf2bfc7454623a0",
        "g": "6f8cb341a624a725",
        "group": "5765b0da98500f6a",
        "name": "Done TRUE / FALSE",
        "label": "Done",
        "order": 12,
        "width": "2",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "TRUE",
                "value": 1,
                "type": "num"
            },
            {
                "label": "FALSE",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 580,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "f26f764821d406cf",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "6f8cb341a624a725",
        "name": "TRUE FALSE",
        "func": "let myBool = false;\n\nmyBool = msg.payload;\n\nif (myBool === false) {\n  msg.payload = 2;\n} else {\n  msg.payload = 1;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 820,
        "wires": [
            [
                "9d1d5761860630e5"
            ]
        ]
    },
    {
        "id": "3bab3e001ce81ea2",
        "type": "debug",
        "z": "eaf2bfc7454623a0",
        "g": "6f8cb341a624a725",
        "name": "InOp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 740,
        "wires": []
    },
    {
        "id": "742fce5412488928",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "6f8cb341a624a725",
        "name": "Done",
        "info": "",
        "x": 550,
        "y": 900,
        "wires": []
    },
    {
        "id": "f43cac39516a6f0d",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "g": "6f8cb341a624a725",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Lab_01/stGripperNodeUI/xDone",
        "name": "",
        "inputs": 0,
        "x": 230,
        "y": 740,
        "wires": [
            [
                "f26f764821d406cf",
                "3bab3e001ce81ea2"
            ]
        ]
    },
    {
        "id": "86397fca2539ddd5",
        "type": "ui-radio-group",
        "z": "eaf2bfc7454623a0",
        "g": "a1a7c03b79f28556",
        "group": "5765b0da98500f6a",
        "name": "Error TRUE / FALSE",
        "label": "Error",
        "order": 13,
        "width": "2",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "TRUE",
                "value": 1,
                "type": "num"
            },
            {
                "label": "FALSE",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 580,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "89c13c669c2e0f56",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "a1a7c03b79f28556",
        "name": "TRUE FALSE",
        "func": "let myBool = false;\n\nmyBool = msg.payload;\n\nif (myBool === false) {\n  msg.payload = 2;\n} else {\n  msg.payload = 1;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1080,
        "wires": [
            [
                "86397fca2539ddd5"
            ]
        ]
    },
    {
        "id": "ca8618bd2c4400f8",
        "type": "debug",
        "z": "eaf2bfc7454623a0",
        "g": "a1a7c03b79f28556",
        "name": "Alarm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 1120,
        "wires": []
    },
    {
        "id": "bf2598d595675045",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "a1a7c03b79f28556",
        "name": "Error",
        "info": "",
        "x": 550,
        "y": 1160,
        "wires": []
    },
    {
        "id": "b291efe98968ed45",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "g": "a1a7c03b79f28556",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Lab_01/stGripperNodeUI/xError",
        "name": "",
        "inputs": 0,
        "x": 230,
        "y": 1000,
        "wires": [
            [
                "89c13c669c2e0f56",
                "189136639e7733c9"
            ]
        ]
    },
    {
        "id": "21c6cd54aa48fbcb",
        "type": "ui-radio-group",
        "z": "eaf2bfc7454623a0",
        "g": "dfc987d7503267f1",
        "group": "5765b0da98500f6a",
        "name": "IsOpen TRUE / FALSE",
        "label": "Is Open",
        "order": 6,
        "width": "3",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "TRUE",
                "value": 1,
                "type": "num"
            },
            {
                "label": "FALSE",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 580,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "2a214a13db11e30d",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "dfc987d7503267f1",
        "name": "TRUE FALSE",
        "func": "let myBool = false;\n\nmyBool = msg.payload;\n\nif (myBool === false) {\n  msg.payload = 2;\n} else {\n  msg.payload = 1;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1340,
        "wires": [
            [
                "21c6cd54aa48fbcb"
            ]
        ]
    },
    {
        "id": "e843055fb842d5dc",
        "type": "debug",
        "z": "eaf2bfc7454623a0",
        "g": "dfc987d7503267f1",
        "name": "InOp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1260,
        "wires": []
    },
    {
        "id": "4028284ccdbaa43d",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "dfc987d7503267f1",
        "name": "IsOpen",
        "info": "",
        "x": 550,
        "y": 1420,
        "wires": []
    },
    {
        "id": "895a407ff2269024",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "g": "dfc987d7503267f1",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Lab_01/stGripperNodeUI/xIsOpen",
        "name": "",
        "inputs": 0,
        "x": 240,
        "y": 1260,
        "wires": [
            [
                "2a214a13db11e30d",
                "e843055fb842d5dc"
            ]
        ]
    },
    {
        "id": "258fbef0487ceedf",
        "type": "ui-radio-group",
        "z": "eaf2bfc7454623a0",
        "g": "72d122f5da95a597",
        "group": "5765b0da98500f6a",
        "name": "IsClosed TRUE / FALSE",
        "label": "Is Closed",
        "order": 7,
        "width": "3",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "TRUE",
                "value": 1,
                "type": "num"
            },
            {
                "label": "FALSE",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 590,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "98f3a3b9088a69bb",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "72d122f5da95a597",
        "name": "TRUE FALSE",
        "func": "let myBool = false;\n\nmyBool = msg.payload;\n\nif (myBool === false) {\n  msg.payload = 2;\n} else {\n  msg.payload = 1;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1600,
        "wires": [
            [
                "258fbef0487ceedf"
            ]
        ]
    },
    {
        "id": "e7658de07daf4432",
        "type": "debug",
        "z": "eaf2bfc7454623a0",
        "g": "72d122f5da95a597",
        "name": "InOp",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1520,
        "wires": []
    },
    {
        "id": "fb9abf3a139624a6",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "72d122f5da95a597",
        "name": "IsClosed",
        "info": "",
        "x": 560,
        "y": 1680,
        "wires": []
    },
    {
        "id": "beb8e4283b90b2ac",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "g": "72d122f5da95a597",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Lab_01/stGripperNodeUI/xIsClosed",
        "name": "",
        "inputs": 0,
        "x": 240,
        "y": 1520,
        "wires": [
            [
                "98f3a3b9088a69bb",
                "e7658de07daf4432"
            ]
        ]
    },
    {
        "id": "5bc525819aee7e75",
        "type": "ui-slider",
        "z": "eaf2bfc7454623a0",
        "g": "9e811d9e8dd65fc9",
        "group": "5765b0da98500f6a",
        "name": "",
        "label": "Time Out [ms]",
        "tooltip": "",
        "order": 8,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "0",
        "max": "1000",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "x": 160,
        "y": 1780,
        "wires": [
            [
                "4ea47bd12599fc75"
            ]
        ]
    },
    {
        "id": "b42d4d7c0c2acf91",
        "type": "ctrlx-datalayer-request",
        "z": "eaf2bfc7454623a0",
        "g": "9e811d9e8dd65fc9",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Lab_01/stGripperNodeUI/udiTimeOut_ms",
        "payloadFormat": "value_type",
        "name": "Time Out",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 560,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "4ea47bd12599fc75",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "9e811d9e8dd65fc9",
        "name": "uint32",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"uint32\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 1780,
        "wires": [
            [
                "b42d4d7c0c2acf91"
            ]
        ]
    },
    {
        "id": "3cb88c6bf10c620a",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "9e811d9e8dd65fc9",
        "name": "Time Out",
        "info": "",
        "x": 600,
        "y": 1820,
        "wires": []
    },
    {
        "id": "6787e85dc7111b47",
        "type": "ui-slider",
        "z": "eaf2bfc7454623a0",
        "g": "5d9acb71a5da2d5e",
        "group": "5765b0da98500f6a",
        "name": "",
        "label": "Limit Open [mm]",
        "tooltip": "",
        "order": 9,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "x": 140,
        "y": 1940,
        "wires": [
            [
                "8d04e6708c445f93"
            ]
        ]
    },
    {
        "id": "ba78d514d44f27e3",
        "type": "ctrlx-datalayer-request",
        "z": "eaf2bfc7454623a0",
        "g": "5d9acb71a5da2d5e",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Lab_01/stGripperNodeUI/rLimitOpen_mm",
        "payloadFormat": "value_type",
        "name": "Limit Open",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 570,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "8d04e6708c445f93",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "5d9acb71a5da2d5e",
        "name": "float",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"float\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1940,
        "wires": [
            [
                "ba78d514d44f27e3"
            ]
        ]
    },
    {
        "id": "b6b9d21b987e7c0f",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "5d9acb71a5da2d5e",
        "name": "Limit Open",
        "info": "",
        "x": 540,
        "y": 2000,
        "wires": []
    },
    {
        "id": "45a2a5dbb11f4229",
        "type": "ui-slider",
        "z": "eaf2bfc7454623a0",
        "g": "2b6c1efebabd7fb4",
        "group": "5765b0da98500f6a",
        "name": "",
        "label": "Limit Closed[mm]",
        "tooltip": "",
        "order": 10,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "0",
        "max": "10",
        "step": "0.1",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "x": 170,
        "y": 2100,
        "wires": [
            [
                "10ef4c5395f0d5dd"
            ]
        ]
    },
    {
        "id": "88bbdf48378b5565",
        "type": "ctrlx-datalayer-request",
        "z": "eaf2bfc7454623a0",
        "g": "2b6c1efebabd7fb4",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Lab_01/stGripperNodeUI/rdiLimitClosed_mm",
        "payloadFormat": "value_type",
        "name": "Limit Closed",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 570,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "10ef4c5395f0d5dd",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "2b6c1efebabd7fb4",
        "name": "float",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"float\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 2100,
        "wires": [
            [
                "88bbdf48378b5565"
            ]
        ]
    },
    {
        "id": "bb9848d018aef6e8",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "2b6c1efebabd7fb4",
        "name": "Limit Closed",
        "info": "",
        "x": 570,
        "y": 2160,
        "wires": []
    },
    {
        "id": "642284b62bb41bc0",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "e2599ca1e3a980d5",
        "name": "bool8 FALSE",
        "func": "msg.payload = {type:\"bool8\",value:false};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [
            [
                "447a007832f0a7d4"
            ]
        ]
    },
    {
        "id": "c96af0244726ad2d",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "e2599ca1e3a980d5",
        "name": "bool8 FALSE",
        "func": "msg.payload = {type:\"bool8\",value:false};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 160,
        "wires": [
            [
                "f8c55538723375cc"
            ]
        ]
    },
    {
        "id": "23412884da54a7e6",
        "type": "ctrlx-datalayer-request",
        "z": "eaf2bfc7454623a0",
        "g": "47c92b8b1164e51c",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Lab_01/stGripperNodeUI/xEnable",
        "payloadFormat": "value_type",
        "name": "Enable Gripper",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 580,
        "y": 2280,
        "wires": [
            []
        ]
    },
    {
        "id": "15ce63bec90ff922",
        "type": "ui-button",
        "z": "eaf2bfc7454623a0",
        "g": "47c92b8b1164e51c",
        "group": "5765b0da98500f6a",
        "name": "Disable",
        "label": "Disable",
        "order": 2,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 2340,
        "wires": [
            [
                "7965e242fc016a6c"
            ]
        ]
    },
    {
        "id": "a5028d1163b29f6f",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "47c92b8b1164e51c",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 2280,
        "wires": [
            [
                "23412884da54a7e6"
            ]
        ]
    },
    {
        "id": "807d7e3ae8e94767",
        "type": "ui-button",
        "z": "eaf2bfc7454623a0",
        "g": "47c92b8b1164e51c",
        "group": "5765b0da98500f6a",
        "name": "Enable",
        "label": "Enable",
        "order": 1,
        "width": "3",
        "height": "1",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 120,
        "y": 2280,
        "wires": [
            [
                "a5028d1163b29f6f"
            ]
        ]
    },
    {
        "id": "9ab0aed07f6e0eeb",
        "type": "comment",
        "z": "eaf2bfc7454623a0",
        "g": "47c92b8b1164e51c",
        "name": "Enable Command Gripper",
        "info": "",
        "x": 850,
        "y": 2320,
        "wires": []
    },
    {
        "id": "7965e242fc016a6c",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "47c92b8b1164e51c",
        "name": "bool8 FALSE",
        "func": "msg.payload = {type:\"bool8\",value:false};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 2340,
        "wires": [
            [
                "23412884da54a7e6"
            ]
        ]
    },
    {
        "id": "757d3cf7c6971394",
        "type": "ui-notification",
        "z": "eaf2bfc7454623a0",
        "g": "a1a7c03b79f28556",
        "ui": "2fc0336def1d763c",
        "position": "center center",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "50",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": true,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Gripper Error : Disable Gripper to cancel",
        "x": 440,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "189136639e7733c9",
        "type": "function",
        "z": "eaf2bfc7454623a0",
        "g": "a1a7c03b79f28556",
        "name": "Set Alarm",
        "func": "let myBool = false;\n\nmyBool = msg.payload;\n\nif (myBool === true) {\n  msg.payload = 'Alarm because of TimeOut, Disable Gripper to cancel Error'\n  return msg;\n} else {\n  ;\n}\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 1120,
        "wires": [
            [
                "757d3cf7c6971394",
                "ca8618bd2c4400f8"
            ]
        ]
    },
    {
        "id": "0b2bb5b5b66e5531",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "g": "9e811d9e8dd65fc9",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Lab_01/stGripperNodeUI/udiTimeOut_ms",
        "name": "",
        "inputs": 0,
        "x": 260,
        "y": 1840,
        "wires": [
            [
                "5bc525819aee7e75"
            ]
        ]
    },
    {
        "id": "3ad3ad4dac0ea69d",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "g": "5d9acb71a5da2d5e",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Lab_01/stGripperNodeUI/rLimitOpen_mm",
        "name": "",
        "inputs": 0,
        "x": 260,
        "y": 2000,
        "wires": [
            [
                "6787e85dc7111b47"
            ]
        ]
    },
    {
        "id": "1d7c236ca776186e",
        "type": "ctrlx-datalayer-subscribe",
        "z": "eaf2bfc7454623a0",
        "g": "2b6c1efebabd7fb4",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Lab_01/stGripperNodeUI/rdiLimitClosed_mm",
        "name": "",
        "inputs": 0,
        "x": 260,
        "y": 2160,
        "wires": [
            [
                "45a2a5dbb11f4229"
            ]
        ]
    },
    {
        "id": "a12abec19b950583",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiStateMasterCurrent",
        "name": "",
        "inputs": 0,
        "x": 260,
        "y": 780,
        "wires": [
            [
                "c49cf2bce7d87104"
            ]
        ]
    },
    {
        "id": "c49cf2bce7d87104",
        "type": "ui-text",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "group": "f52f774838673224",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PackML State : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 590,
        "y": 780,
        "wires": []
    },
    {
        "id": "d42e8acbe3501983",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsPackTime/Date_and_time_string",
        "name": "",
        "inputs": 0,
        "x": 270,
        "y": 720,
        "wires": [
            [
                "4c3d0833f9aa8ad5"
            ]
        ]
    },
    {
        "id": "4c3d0833f9aa8ad5",
        "type": "ui-text",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "group": "f52f774838673224",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PLC Time: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 620,
        "y": 720,
        "wires": []
    },
    {
        "id": "02e75eda2a4880c7",
        "type": "ui-switch",
        "z": "f479262664cd75e2",
        "name": "",
        "label": "Alarm 0",
        "group": "f52f774838673224",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "9192b649ac020c2e",
                "5f4eb9256670bf95"
            ]
        ]
    },
    {
        "id": "9192b649ac020c2e",
        "type": "function",
        "z": "f479262664cd75e2",
        "name": "bool8",
        "func": "let msgValue = msg.payload;\n\nmsg.payload = {type:\"bool8\",value:msgValue};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 540,
        "wires": [
            [
                "2a2de47b75aa328b"
            ]
        ]
    },
    {
        "id": "5f4eb9256670bf95",
        "type": "debug",
        "z": "f479262664cd75e2",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 480,
        "wires": []
    },
    {
        "id": "2a2de47b75aa328b",
        "type": "ctrlx-datalayer-request",
        "z": "f479262664cd75e2",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsPackAlarm_UI/uiSetAlarm_0",
        "payloadFormat": "value_type",
        "name": "Alarm 0",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 540,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "3b06631cf122bdf3",
        "type": "ui-button",
        "z": "f479262664cd75e2",
        "group": "f52f774838673224",
        "name": "",
        "label": "Start",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "restart",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "95fb6b0f42cf7c3a"
            ]
        ]
    },
    {
        "id": "95fb6b0f42cf7c3a",
        "type": "function",
        "z": "f479262664cd75e2",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 320,
        "wires": [
            [
                "b7fe6484e9a7f19b"
            ]
        ]
    },
    {
        "id": "b7fe6484e9a7f19b",
        "type": "ctrlx-datalayer-request",
        "z": "f479262664cd75e2",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiCmdStart",
        "payloadFormat": "value_type",
        "name": "Start",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 570,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "3f5cba2b578b6f16",
        "type": "ctrlx-datalayer-request",
        "z": "f479262664cd75e2",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiCmdClear",
        "payloadFormat": "value_type",
        "name": "Start",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 570,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "0ff03659b1dd4645",
        "type": "ui-button",
        "z": "f479262664cd75e2",
        "group": "f52f774838673224",
        "name": "",
        "label": "Clear",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "power-plug",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "blue",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 90,
        "y": 400,
        "wires": [
            [
                "cf301bd39edd06a3"
            ]
        ]
    },
    {
        "id": "cf301bd39edd06a3",
        "type": "function",
        "z": "f479262664cd75e2",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 400,
        "wires": [
            [
                "3f5cba2b578b6f16"
            ]
        ]
    },
    {
        "id": "20ee0148a275dedb",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiModeMasterCurrent",
        "name": "",
        "inputs": 0,
        "x": 240,
        "y": 640,
        "wires": [
            [
                "9bd81e8275e8f9fc"
            ]
        ]
    },
    {
        "id": "9bd81e8275e8f9fc",
        "type": "ui-text",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "group": "f52f774838673224",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PackML Mode : ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 710,
        "y": 640,
        "wires": []
    },
    {
        "id": "59670bcba7664fbf",
        "type": "comment",
        "z": "f479262664cd75e2",
        "g": "7b313a45e45d8c67",
        "name": "Get Current Mode, State and Time",
        "info": "",
        "x": 860,
        "y": 780,
        "wires": []
    },
    {
        "id": "fcbaa2bbfa97fe76",
        "type": "ctrlx-datalayer-subscribe",
        "z": "f479262664cd75e2",
        "g": "9a1553f8c3041295",
        "subscription": "c5b0190b901ecb86",
        "path": "framework/metrics/system/cpu-utilisation-percent",
        "name": "",
        "inputs": 0,
        "x": 250,
        "y": 900,
        "wires": [
            [
                "70e837f7c57ab252"
            ]
        ]
    },
    {
        "id": "70e837f7c57ab252",
        "type": "ui-gauge",
        "z": "f479262664cd75e2",
        "g": "9a1553f8c3041295",
        "name": "CPU Usage",
        "group": "6f4d4cc842955c98",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "CPU Usage",
        "units": "%",
        "icon": "cpu-64-bit",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c"
            },
            {
                "from": "20",
                "color": "#ffc800"
            },
            {
                "from": "90",
                "color": "#ea5353"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 600,
        "y": 900,
        "wires": []
    },
    {
        "id": "fb3ab66a497550f6",
        "type": "comment",
        "z": "f479262664cd75e2",
        "g": "9a1553f8c3041295",
        "name": "Get CPU Usage from DataLayer",
        "info": "",
        "x": 650,
        "y": 960,
        "wires": []
    },
    {
        "id": "69a1382792d493e5",
        "type": "ctrlx-datalayer-subscribe",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "subscription": "c5b0190b901ecb86",
        "path": "motion/axs/Axis_x/state/values/actual/pos/mm",
        "name": "",
        "inputs": 0,
        "x": 280,
        "y": 260,
        "wires": [
            [
                "e03c864b75823938",
                "84fccf9607b693bd"
            ]
        ]
    },
    {
        "id": "4a99555c5c99a906",
        "type": "ui-text",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "group": "bb97738361048557",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "X",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 820,
        "y": 260,
        "wires": []
    },
    {
        "id": "a1188273fa858afb",
        "type": "ctrlx-datalayer-subscribe",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "subscription": "c5b0190b901ecb86",
        "path": "motion/axs/Axis_y/state/values/actual/pos/mm",
        "name": "",
        "inputs": 0,
        "x": 280,
        "y": 340,
        "wires": [
            [
                "e4035f4d4de3c39a"
            ]
        ]
    },
    {
        "id": "5873013b9baa66fd",
        "type": "ui-text",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "group": "bb97738361048557",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Y",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 820,
        "y": 340,
        "wires": []
    },
    {
        "id": "8568cbc5e8e3a3e7",
        "type": "ctrlx-datalayer-subscribe",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "subscription": "c5b0190b901ecb86",
        "path": "motion/axs/Axis_z/state/values/actual/pos/mm",
        "name": "",
        "inputs": 0,
        "x": 280,
        "y": 440,
        "wires": [
            [
                "b09d4b9362aac004",
                "6e51b78d9c6f5a96"
            ]
        ]
    },
    {
        "id": "b0f2ba42e531280b",
        "type": "ui-text",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "group": "bb97738361048557",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Z",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 820,
        "y": 440,
        "wires": []
    },
    {
        "id": "e03c864b75823938",
        "type": "debug",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 200,
        "wires": []
    },
    {
        "id": "84fccf9607b693bd",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "Round 0.01",
        "func": "let position = Math.round(msg.payload * 100) / 100;\n\nglobal.set('X_Position', position);\n\nlet postion_mm = 'Axis X : ';\n\npostion_mm = postion_mm.concat(position,' [mm]');\n\nmsg.payload = postion_mm;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 260,
        "wires": [
            [
                "4a99555c5c99a906"
            ]
        ]
    },
    {
        "id": "e4035f4d4de3c39a",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "Round 0.01",
        "func": "let position = Math.round(msg.payload * 100) / 100;\n\nglobal.set('Y_Position', position);\n\nlet postion_mm = 'Axis Y : ';\n\npostion_mm = postion_mm.concat(position,' [mm]');\n\nmsg.payload = postion_mm;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 340,
        "wires": [
            [
                "5873013b9baa66fd"
            ]
        ]
    },
    {
        "id": "b09d4b9362aac004",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "Round 0.01",
        "func": "let position = Math.round(msg.payload * 100) / 100;\n\nglobal.set('Z_Position', position);\n\nlet postion_mm = 'Axis Z : ';\n\npostion_mm = postion_mm.concat(position,' [mm]');\n\nmsg.payload = postion_mm;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 440,
        "wires": [
            [
                "b0f2ba42e531280b"
            ]
        ]
    },
    {
        "id": "6e51b78d9c6f5a96",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "function 2",
        "func": "let newMsg = msg;\n\nnewMsg.payload.logDate = Date();\n\nmsg = newMsg;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 540,
        "wires": [
            [
                "e6079fe93ae39937"
            ]
        ]
    },
    {
        "id": "e6079fe93ae39937",
        "type": "debug",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "e85f7c32b3e4d863",
        "type": "comment",
        "z": "66b713bff26c6577",
        "g": "6ccb574154e3475d",
        "name": "Axes Position",
        "info": "",
        "x": 180,
        "y": 200,
        "wires": []
    },
    {
        "id": "5af87b665ab849ef",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "name": "bool8 TRUE",
        "func": "msg.payload = {type:\"bool8\",value:true};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 660,
        "wires": [
            [
                "c88f46c050aa51a3"
            ]
        ]
    },
    {
        "id": "c88f46c050aa51a3",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PackTag/hevsUI/uiCmdReset",
        "payloadFormat": "value_type",
        "name": "Reset",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 570,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "c128f90be143a216",
        "type": "ui-button",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "group": "f52f774838673224",
        "name": "",
        "label": "Reset",
        "order": 7,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "lock-reset",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "true",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 170,
        "y": 660,
        "wires": [
            [
                "5af87b665ab849ef",
                "ac49f0b9e2200d23",
                "3721ba1125f3e447"
            ]
        ]
    },
    {
        "id": "ac49f0b9e2200d23",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "name": "Reset X Y Z Slider",
        "func": "const msg1 = {payload:-199};\nconst msg2 = {payload:-78};\nconst msg3 = {payload:0};\n\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 840,
        "wires": [
            [
                "1e189ecd802172e5"
            ],
            [
                "52bfe6c137bd1644"
            ],
            [
                "f8c71b02e2e6a3cf"
            ]
        ]
    },
    {
        "id": "1e189ecd802172e5",
        "type": "ui-slider",
        "z": "66b713bff26c6577",
        "g": "fab458635840f194",
        "group": "bb97738361048557",
        "name": "",
        "label": "X Abs. Position",
        "tooltip": "",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "-220",
        "max": "220",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "x": 460,
        "y": 760,
        "wires": [
            [
                "6243fa7ea09362a4"
            ]
        ]
    },
    {
        "id": "602f4c0ed027a896",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "fab458635840f194",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Process/lrMoveAbs_X",
        "payloadFormat": "value_type",
        "name": "X Abs",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 850,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "6243fa7ea09362a4",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "fab458635840f194",
        "name": "Double",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"double\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 760,
        "wires": [
            [
                "602f4c0ed027a896"
            ]
        ]
    },
    {
        "id": "52bfe6c137bd1644",
        "type": "ui-slider",
        "z": "66b713bff26c6577",
        "g": "b4acbb4fa910b71d",
        "group": "bb97738361048557",
        "name": "",
        "label": "Y Abs. Position",
        "tooltip": "",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "-100",
        "max": "100",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "x": 460,
        "y": 880,
        "wires": [
            [
                "575b8dd8c92560ac"
            ]
        ]
    },
    {
        "id": "3c3321ef3d105be0",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "b4acbb4fa910b71d",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Process/lrMoveAbs_Y",
        "payloadFormat": "value_type",
        "name": "Y Abs",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 850,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "575b8dd8c92560ac",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "b4acbb4fa910b71d",
        "name": "Double",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"double\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 880,
        "wires": [
            [
                "3c3321ef3d105be0"
            ]
        ]
    },
    {
        "id": "f8c71b02e2e6a3cf",
        "type": "ui-slider",
        "z": "66b713bff26c6577",
        "g": "399266970ed3c8d1",
        "group": "bb97738361048557",
        "name": "",
        "label": "Z Abs. Position",
        "tooltip": "",
        "order": 6,
        "width": "0",
        "height": "0",
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "-149",
        "max": "150",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "x": 460,
        "y": 1020,
        "wires": [
            [
                "059ec5ae6fe47060"
            ]
        ]
    },
    {
        "id": "35519cde47a513a6",
        "type": "ctrlx-datalayer-request",
        "z": "66b713bff26c6577",
        "g": "399266970ed3c8d1",
        "device": "e45e312c80fc001e",
        "method": "WRITE",
        "path": "plc/app/Application/sym/PRG_Process/lrMoveAbs_Z",
        "payloadFormat": "value_type",
        "name": "Z Abs",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 850,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "059ec5ae6fe47060",
        "type": "function",
        "z": "66b713bff26c6577",
        "g": "399266970ed3c8d1",
        "name": "Double",
        "func": "let position = msg.payload;\n\nmsg.payload = {type:\"double\",value:position};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1020,
        "wires": [
            [
                "35519cde47a513a6"
            ]
        ]
    },
    {
        "id": "b21a4f9c5ea48486",
        "type": "comment",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "name": "Manage and Init Axes Sliders",
        "info": "",
        "x": 780,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3721ba1125f3e447",
        "type": "link out",
        "z": "66b713bff26c6577",
        "g": "da63248a1cc4b4af",
        "name": "Reset Gripper",
        "mode": "link",
        "links": [],
        "x": 245,
        "y": 780,
        "wires": []
    },
    {
        "id": "5c7cf1a654210fbf",
        "type": "ui-markdown",
        "z": "2c31763846faff4a",
        "group": "6b2222aa7324c02b",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "content": "<h1 align=\"left\">\n  <br>\n  <img src=\"./img/hei-en.png\" alt=\"HEI-Vs Logo\" width=\"350\">\n  <br>\n  HEI-Vs Engineering School <h2>AAut Advanced Automation</h2>\n  <br>\n</h1>\n\n[Cdric Lenoir](mailto:cedric.lenoir@hevs.ch)\n\n# AAut Lab 01 / URS\n\n## Objectifs\n-   Mettre en pratique le digramme en V, en particulier FS et DS.\n-   Mettre en pratique une interface IEC-61131-3 OOP\n-   Note 1 sur 3\n\n## User Request Specification (URS)\n<strong style=\"color:red;\">L'URS peut tre prcise d'entente entre le client et les fournisseurs jusqu' 10 minutes aprs le dbut du labo du mrecredi matin.</strong>\n\n### Functional Requirements\n- **URS-01**: Loprateur peut ouvrir ou fermer une pince depuis une interface **programme**.\n- **URS-02**: Loprateur doit pouvoir piloter la position de la pince depuis une interface **utilisateur**.\n- **URS-03**: Loprateur peut paramtrer les informations suivantes :\n    - **URS-03.1**: Ecartement maximal en unit capteur [mm] quand la pince est ferme.\n    - **URS-03.2**: Ecartement minimal en unit capteur [mm] quand la pince est ouverte.\n    - **URS-03.3**: Dlai maximal en ms pour une squence douverture ou de fermeture.\n\n### Non-Functional Requirements\n- **NFD-01**: Linterface utilisateur est fournie. Il utilise une interface au sens UML qui est impose.\n- **NFD-02**: Les dfauts sont fournis  linterface sous forme de texte, STRING.\n- **NFD-03**: La rsolution du capteur de pince  0.01 [mm]\n- **NFD-04**: La rsolution du dlai  1 [ms]\n\n\n## Votre job:\n*3 informations pour chaque lment ci-dessous*\n\n\tDcrire la FS en dcrivant les lments prsents dans le laboratoire.\n\n\tDcrire les tests OP de votre FS :.\n\n\tDcrire la HDS du systme.\n\n\tDcrire les tests IQ du systme.\n\n\n> Il y a des exemples [dans le rprtoire documentation du module 02](../AAut_MOD_02_Specification/documentation).\n\n-   Dcrire le schma UML de la pince quant  son comportement **et** sa structure.\n\n.   Le rapport sur fichier MD, , sauf la feuille de tests FS/OP et DS/IQ qui doit tre signe pour chaque lments test. Si un test choue, le rsultat est mentionn et sign  la main sur la feuille de test.\n\n> Dlais de remise sur Moodle : 17 mars.\n\n### Class Diagram with Property\n\n```mermaid\nclassDiagram\n    class MyClass {\n        +int myProperty\n        +void myMethod()\n    }\n```\n\n### Image UI Interface\n\n<div align=\"center\">\n  <figure>\n    <img src=\"./img/UI_Gripper.png\" \n         alt=\"Image lost: UI_Gripper.png\">\n    <figcaption>UI Gripper</figcaption>\n  </figure>\n</div>\n\n### IEC 61131-3 Interface\n\n#### I_Gripper\n```iecst\nINTERFACE I_Gripper\n```\n####  M_EnableDevice\n```iecst\nMETHOD M_EnableDevice : BOOL\nVAR_INPUT\n\tEnable\t: BOOL;\nEND_VAR\n```\n#### M_SetOpen\n```iecst\nMETHOD M_SetOpen : BOOL\nVAR_INPUT\n\trLimitOpen_mm\t: REAL;\n\tudiTimeOut_ms\t: UDINT;\nEND_VAR\n```\n\n#### M_SetClose\n```iecst\nMETHOD M_SetClose : BOOL\nVAR_INPUT\n\trLimitClosed_mm\t: REAL;\n\tudiTimeOut_ms\t: UDINT;\t\nEND_VAR\n```\n\n#### M_GetStatus\n```iecst\nMETHOD M_GetStatus : BOOL\nVAR_OUTPUT\n\t// DL : bool8, JS : boolean\n\txInOp\t\t\t\t: BOOL;\n\t// DL : bool8, JS : boolean\n\txDone\t\t\t\t: BOOL;\n\t// DL : bool8, JS : boolean\n\txError\t\t\t\t: BOOL;\t\n\t\n\t// DL : bool8, JS : boolean\n\trIsPostion\t\t\t: REAL;\n\t// DL : bool8, JS : boolean\n\txIsOpen\t\t\t\t: BOOL;\n\t// DL : float, JS : number\n\txIsClosed\t\t\t: BOOL;\t\nEND_VAR\n```\n#### Link with hardware\n```iecst\nhwSensor := GVL_Abox.uaAboxInterface.uaSchunk;\nhwActuator := GVL_Abox.uaAboxInterface.uaSchunkGripper;\n```\n\n# An example of dynamic info on documentation\n\nPosition of Axis X: {{msg.payload}}",
        "className": "",
        "x": 550,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c27cf164a5064eb4",
        "type": "ctrlx-datalayer-subscribe",
        "z": "2c31763846faff4a",
        "subscription": "c5b0190b901ecb86",
        "path": "motion/axs/Axis_x/state/values/actual/pos/mm",
        "name": "",
        "inputs": 0,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "5c7cf1a654210fbf",
                "8cafa78380a32c91"
            ]
        ]
    },
    {
        "id": "8cafa78380a32c91",
        "type": "debug",
        "z": "2c31763846faff4a",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "44782f1b77c1e108",
        "type": "debug",
        "z": "607da399f65f1741",
        "name": "Method",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 220,
        "wires": []
    },
    {
        "id": "4cf3373c73acfc6e",
        "type": "function",
        "z": "607da399f65f1741",
        "name": "make pos command",
        "func": "var newMsg = {};\nnewMsg.payload = {\n      \"type\":\"object\",\n      \"value\":{\n\t    \"axsPos\":\"0\",\"buffered\":false,\"lim\":{\"vel\":\"1\",\"acc\":\"1\",\"dec\":\"1\",\"jrkAcc\":\"1\",\"jrkDec\":\"1\"}\n\t    }\n     }\nreturn newMsg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 380,
        "wires": [
            [
                "0eb98e5fb2813a27"
            ]
        ]
    },
    {
        "id": "0eb98e5fb2813a27",
        "type": "ctrlx-datalayer-request",
        "z": "607da399f65f1741",
        "device": "e45e312c80fc001e",
        "method": "CREATE",
        "path": "motion/axs/Axis_x/cmd/pos-abs",
        "payloadFormat": "value_type",
        "name": "\"AxisX\" pos abs",
        "pendingWarnLevel": "",
        "pendingErrorLevel": "",
        "x": 650,
        "y": 380,
        "wires": [
            [
                "44782f1b77c1e108"
            ]
        ]
    },
    {
        "id": "1a5cda017b20bce9",
        "type": "comment",
        "z": "607da399f65f1741",
        "name": "Example: Move an axis \"AxisX\"",
        "info": "",
        "x": 180,
        "y": 340,
        "wires": []
    },
    {
        "id": "13f924d9ae3cca5c",
        "type": "inject",
        "z": "607da399f65f1741",
        "name": "Manual Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "4cf3373c73acfc6e"
            ]
        ]
    },
    {
        "id": "62835bec269f4f60",
        "type": "inject",
        "z": "607da399f65f1741",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "d6cb743d276406c2"
            ]
        ]
    },
    {
        "id": "d6cb743d276406c2",
        "type": "ctrlx-datalayer-request",
        "z": "607da399f65f1741",
        "device": "e45e312c80fc001e",
        "method": "READ",
        "path": "plc/app/Application/sym/PRG_Lab_01/fbTestJobStudent/M_GetStatus",
        "payloadFormat": "value_type",
        "name": "",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 480,
        "y": 620,
        "wires": [
            [
                "7a8ffc28f371077a",
                "149c4450475a74be"
            ]
        ]
    },
    {
        "id": "7a8ffc28f371077a",
        "type": "debug",
        "z": "607da399f65f1741",
        "name": "get status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 620,
        "wires": []
    },
    {
        "id": "0f11a05ae062b525",
        "type": "ui-radio-group",
        "z": "607da399f65f1741",
        "group": "166995c74f30a0c3",
        "name": "Method TRUE/FALSE",
        "label": "Method TRUE/FALSE",
        "order": 1,
        "width": "2",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "TRUE",
                "value": 1,
                "type": "num"
            },
            {
                "label": "FALSE",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 740,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "149c4450475a74be",
        "type": "function",
        "z": "607da399f65f1741",
        "name": "TRUE FALSE",
        "func": "let myBool = false;\n\nmyBool = msg.payload;\n\nif (myBool === false) {\n  msg.payload = 2;\n} else {\n  msg.payload = 1;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 740,
        "wires": [
            [
                "0f11a05ae062b525"
            ]
        ]
    },
    {
        "id": "2d5cae93888adce9",
        "type": "inject",
        "z": "607da399f65f1741",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 230,
        "y": 720,
        "wires": [
            [
                "149c4450475a74be"
            ]
        ]
    },
    {
        "id": "c3c1cc795af04620",
        "type": "inject",
        "z": "607da399f65f1741",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 230,
        "y": 780,
        "wires": [
            [
                "149c4450475a74be"
            ]
        ]
    },
    {
        "id": "979f69b4459981ce",
        "type": "ui-radio-group",
        "z": "607da399f65f1741",
        "group": "166995c74f30a0c3",
        "name": "Property InOp",
        "label": "Property InOp",
        "order": 2,
        "width": "2",
        "height": "1",
        "columns": "2",
        "passthru": false,
        "options": [
            {
                "label": "TRUE",
                "value": 1,
                "type": "num"
            },
            {
                "label": "FALSE",
                "value": 2,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 720,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "655378a601d02f99",
        "type": "function",
        "z": "607da399f65f1741",
        "name": "TRUE FALSE",
        "func": "let myBool = false;\n\nmyBool = msg.payload;\n\nif (myBool === false) {\n  msg.payload = 2;\n} else {\n  msg.payload = 1;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 960,
        "wires": [
            [
                "979f69b4459981ce"
            ]
        ]
    },
    {
        "id": "8dc3832a42e07b8d",
        "type": "inject",
        "z": "607da399f65f1741",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 310,
        "y": 940,
        "wires": [
            [
                "655378a601d02f99"
            ]
        ]
    },
    {
        "id": "17d1f534d47b9fe5",
        "type": "inject",
        "z": "607da399f65f1741",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 310,
        "y": 1000,
        "wires": [
            [
                "655378a601d02f99"
            ]
        ]
    },
    {
        "id": "e114d5d2fc187f18",
        "type": "ctrlx-datalayer-subscribe",
        "z": "607da399f65f1741",
        "subscription": "c5b0190b901ecb86",
        "path": "plc/app/Application/sym/PRG_Lab_01/fbTestJobStudent/InOp",
        "name": "",
        "inputs": 0,
        "x": 290,
        "y": 860,
        "wires": [
            [
                "655378a601d02f99",
                "cfba1d31e258967b"
            ]
        ]
    },
    {
        "id": "cfba1d31e258967b",
        "type": "debug",
        "z": "607da399f65f1741",
        "name": "Subscribe Property In Op",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 860,
        "wires": []
    },
    {
        "id": "8cd81a2d1de5f9ae",
        "type": "ctrlx-datalayer-request",
        "z": "607da399f65f1741",
        "device": "e45e312c80fc001e",
        "method": "READ_WITH_ARG",
        "path": "plc/app/Application/sym/PRG_Lab_01/fbTestJobStudent/M_InOut",
        "payloadFormat": "value_type",
        "name": "",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 670,
        "y": 1100,
        "wires": [
            [
                "85aa2b292642f4cc"
            ]
        ]
    },
    {
        "id": "1ceabf74503cfabd",
        "type": "inject",
        "z": "607da399f65f1741",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1100,
        "wires": [
            [
                "1f1c87589ea2635c"
            ]
        ]
    },
    {
        "id": "85aa2b292642f4cc",
        "type": "debug",
        "z": "607da399f65f1741",
        "name": "M_InOut",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1240,
        "wires": []
    },
    {
        "id": "1f1c87589ea2635c",
        "type": "function",
        "z": "607da399f65f1741",
        "name": "M_InOut",
        "func": "var newMsg = {};\nnewMsg.payload = {\n      type:\"object\",\n      value:{\n\t        \"TestValue\":\"10\"\n            }\n\t    }\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1100,
        "wires": [
            [
                "8cd81a2d1de5f9ae",
                "b9259d607afb367d"
            ]
        ]
    },
    {
        "id": "b9259d607afb367d",
        "type": "debug",
        "z": "607da399f65f1741",
        "name": "In Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1240,
        "wires": []
    },
    {
        "id": "8311f4fb46eab5c9",
        "type": "ctrlx-datalayer-request",
        "z": "607da399f65f1741",
        "device": "e45e312c80fc001e",
        "method": "READ_WITH_ARG",
        "path": "plc/app/Application/sym/PRG_Lab_01/fbEmptyGripper/M_GoToPosition",
        "payloadFormat": "value_type",
        "name": "",
        "pendingWarnLevel": 50,
        "pendingErrorLevel": 100,
        "x": 730,
        "y": 1320,
        "wires": [
            [
                "f706195ed521624f"
            ]
        ]
    },
    {
        "id": "639a30628ba297df",
        "type": "inject",
        "z": "607da399f65f1741",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1320,
        "wires": [
            [
                "bd0591831f8ddaf2"
            ]
        ]
    },
    {
        "id": "f706195ed521624f",
        "type": "debug",
        "z": "607da399f65f1741",
        "name": "M_GoToPosition",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 1460,
        "wires": []
    },
    {
        "id": "bd0591831f8ddaf2",
        "type": "function",
        "z": "607da399f65f1741",
        "name": "M_GoToPosition",
        "func": "var newMsg = {};\nnewMsg.payload = {\n      type:\"object\",\n      value:{\n            \"Position\": \"102\",\n            \"Velocity\": \"1033\",\n            \"Acceleration\": \"10777\"\n            }\n\t    }\nreturn newMsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1320,
        "wires": [
            [
                "8311f4fb46eab5c9",
                "3baa7e31ac699874"
            ]
        ]
    },
    {
        "id": "3baa7e31ac699874",
        "type": "debug",
        "z": "607da399f65f1741",
        "name": "In Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1460,
        "wires": []
    }
]